body {
	font-size: 11px;
	font-family: verdana;
}

h1,h2,h3,h4,h5,h6 {
	font-family: verdana;
}

h1 {
	font-size: 14px;
	color: #000099;
}

h2 {
	font-size: 12px;
	font-family: verdana;
	text-decoration: underline;
}

li {
	font-size: 12px;
	font-family: verdana;
}