body {
    font-family: Verdana, Lucida, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    margin: 5;
    padding: 0;
}

/* Column Widths -- there are only two columns */
table.layout {
	width: 100%;
}

h1 {
	font-size: 18px;
	font-weight: bold;
}

h2 {
	font-size: 16px;
	font-weight: bold;
}

h3 {
	font-size: 14px;
	font-weight: bold;
}


li,h4,h5,p,strong,i,u {
	font-size: 12px;
}

li {
	padding-top: 2px;
	padding-bottom: 2px;
}
	

table.ErrorBox {
    display: none;
}

table.ErrorFoot {
    display: none;
}

table.FormTable {
	border-spacing: 10px; 
	border-collapse: collapse;
}

td.FormTable {
	padding: 10px;
}

th.FormTable {
    font-size: 14px;
    color: #000000;
	padding: 10px;
	text-align: left;
}

#ContentArea {
	padding: 10px;
	width: 100%;
}

#breadcrumb {
	padding: 5px;
	padding-left: 10px;
	width: 100%;
	font-size: 10px;
}

#BannerArea {
	display: none;
}

#bar {
    display: none;
}

#title h1 {
    display: none;
}

#test li {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
}
