body {
    font-family: Verdana, Lucida, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    margin: 5;
    padding: 0;
    background-color: #cbcbcb;
    background-image: url(../../Images/barely_textured-blue.png);
}

/* Column Widths -- there are only two columns */
td.left-column {
	width: 150px;
}

td.middle-column {
	width: 610px;
}

h1 {
	font-size: 18px;
	font-weight: bold;
}

h2 {
	font-size: 16px;
	font-weight: bold;
}

h3 {
	font-size: 14px;
	font-weight: bold;
}


td,li,h4,h5,p,strong,i,u,a {
	font-size: 12px;
}

li {
	padding-top: 2px;
	padding-bottom: 2px;
}
	

table.ErrorBox {
	background: #ff9999;
	border-width: thin;
	border-style: solid;
	border-color: #ff0000;
	width: 100%;
	border-spacing: 0px; 
	border-collapse: collapse;
}

table.ErrorFoot {
	background: #ff9999;
	border-width: thin;
	border-style: solid;
	border-color: #000033;
	width: 100%;
	border-spacing: 0px; 
	border-collapse: collapse;
	font-size: 10px;
}

th.ErrorFoot {
	background: #dd6666;
}


table.FormTable {
	border-spacing: 10px; 
	border-collapse: collapse;
}

td.FormTable {
	padding: 10px;
}

th.FormTable {
    font-size: 14px;
    color: #000000;
	padding: 10px;
	text-align: left;
}

table.Navigation {
	background: #ebebeb;
	border-width: thin;
	border-style: solid;
	border-color: #000000;
	width: 100%;
	border-spacing: 0px; 
	border-collapse: collapse;
	font-family: verdana, arial;
	margin-bottom: 4px;
}

td.Navigation_sel {
	background: #cbcbcb;
	font-size: 12px;
	font-weight: bold;
}

th.Navigation {
    font-size: 14px;
    color: #000000;
	padding: 5px;
	text-align: left;
}

a.Navigation {
	color: #000000;
	font-size: 12px;
	font-weight: normal;
}

a.Navigation:hover {
	color: #000000;
}

#ContentArea {
	background: #ffffff;
	padding: 10px;
	border-width: thin;
	border-style: solid;
	border-color: #000000;
	width: 100%;
	margin-left: 4px;
}

#breadcrumb {
	padding: 5px;
	padding-left: 10px;
	width: 100%;
	font-size: 10px;
}

#actions {
    background: #ebebeb;
    right: 5px;
    text-align: center;
	padding: 5px;
    border-style: solid;
    border-color: #000000;
    border-width: thin;
	font-size: 10px;
}

#actions a {
    padding: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#title h1 {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
	border-bottom: solid;
	border-bottom-width: thin;
}
