body {
    font-family: Verdana, Lucida, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    background-color: #ebebeb;
    margin: 5px;
    padding: 0;
}

h1 {
	font-size: 18px;
	font-weight: bold;
}

h2 {
	font-size: 16px;
	font-weight: bold;
}

h3 {
	font-size: 14px;
	font-weight: bold;
}


td,li,h4,h5,p,strong,i,u,a {
	font-size: 12px;
}

li {
	padding-top: 2px;
	padding-bottom: 2px;
}

table.ErrorBox {
	background: #ff9999;
	border-width: thin;
	border-style: solid;
	border-color: #ff0000;
	width: 100%;
	border-spacing: 0px; 
	border-collapse: collapse;
}

table.ErrorFoot {
	background: #ff9999;
	border-width: thin;
	border-style: solid;
	border-color: #000033;
	width: 100%;
	border-spacing: 0px; 
	border-collapse: collapse;
	font-size: 10px;
}

th.ErrorFoot {
	background: #dd6666;
}


table.FormTable {
	border-spacing: 10px; 
	border-collapse: collapse;
}

td.FormTable {
	padding: 10px;
}

th.FormTable {
    font-size: 14px;
    color: #000000;
	padding: 10px;
	text-align: left;
}

#ContentArea {
	background: #ffffff;
	padding: 10px;
	width: 750;
    margin-left: auto;
    margin-right: auto;
}

#BannerArea {
	padding: 10px;
	width: 750;
    margin-left: auto;
    margin-right: auto;
}

#breadcrumb {
	padding: 5px;
	padding-left: 10px;
	width: 100%;
	font-size: 10px;
	 margin-bottom: 15px;
}

#bar {
    background: #ebebeb;
    text-align: center;
	padding: 5px;
    border-style: solid;
    border-color: #000000;
    border-width: thin;
	font-size: 10px;
	margin-bottom: 10px;
}

#bar a{
    padding: 5px;
	font-size: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

#bar a:hover {
	background: #cbcbcb;
}

#bar strong {
    padding: 5px;
	font-size: 10px;
	padding-right: 10px;
	padding-left: 10px;
	background: #cbcbcb;
	font-weight: normal;
	text-decoration: underline;
}

#actions a {
    padding: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#title h1 {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
	border-bottom: solid;
	border-bottom-width: thin;
}

#test li {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
}
