table.data_table { 
	background-color: #ebebeb;
	border-bottom-width: thin;
	border-right-width: thin;
	border-bottom-style: solid;
	border-right-style: solid;
	border-bottom-color: #000000;
	border-right-color: #000000;
	width: 100%;
	border-spacing: 0px; 
	border-collapse: collapse;
}

td.data_table { 
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
	border-top-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-left-color: #000000;
	padding: 5px;
	text-align: center;
}

th.data_table { 
	background-color: #cbcbcb;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
	border-top-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-left-color: #000000;
	padding: 5px;
}

tr.data_table_0 { 
	background-color: #ffffff;
}

tr.data_table_1 { 
	background-color: #ebebeb;
}

a.data_table { 
	color: #000000;
}

a.data_table:hover { 
	color: #cbcbcb;
	
}

table.DataView {
	border-width: thin;
	border-style: solid;
	border-color: #999999;
	width: 100%;
	border-spacing: 0px; 
	border-collapse: collapse;
	margin-bottom: 4px;
	margin-top: 2px;
}

th.DataView {
	font-weight: bold;
}

td.DataView {
	font-size: 11px;
}

a.DataView {
	font-size: 11px;
	text-decoration: none;
	color: #000000;
}

a.DataView:hover {
	font-size: 11px;
	text-decoration: underline;
	color: #000000;
}