body {
    background-color: #000000;
    background-image: url(../../Images/barely_textured-blue.png);
    color: #000000;
	font-size: 11px;
	font-family: palatino, georgia, times new roman, serif;
	margin: 5;
	padding: 0;
}

h1 {
	font-size: 16px;
	border-bottom: solid;
	border-bottom-width: thin;
}

h2 {
	font-size: 14px;
	font-weight: bold;
}

h3 {
	font-size: 12px;
	font-weight: bold;
}

h4 {
	font-size: 11px;
	font-style: italics;
	font-weight: bold;
}

h5 {
	font-size: 11px;
	font-style: italics;
}

p {
	font-size: 11px;
	padding-left: 10px;
}

li {
	font-size: 11px;
	padding-top: 2px;
	padding-bottom: 2px;
}
	

#ContentArea {
	background: #ffffff;
	padding: 10px;
	border-width: thin;
	border-style: solid;
	border-color: #000000;
	width: 100%;
	margin-left: 4px;
}

/* Pagination Bar */
table.pagination_bar {
	background-color: #ebebeb;
	border-width: thin;
	border-style: solid;
	border-color: #999999;
	width: 100%;
	border-spacing: 0px; 
	border-collapse: collapse;
	margin-top: 4px;
	margin-bottom: 4px;
}

td.pagination_bar { 
    font-size: 10px;
	padding: 5px;
	color: #000000;
	border: 0px;
}

a.pagination_bar {
	color: #000000;
	text-decoration: none;
}

a.pagination_bar:hover {
	color: #000000;
	text-decoration: underline;
	background-color: #ffffff;
}