/* Defaults */
body {
	font-size: 0.9em;
	font-family: bitstream vera sans,sans-serif;
	margin: 0;
	padding: 0;
	background-color: #ebebeb;
}

a:link {
	color: #900;
}
a:visited {
	color: #48468f;
}
a:hover {
	color: #f20;
}
a[name] {
	color: inherit;
	text-decoration: inherit;
}

/* Site Header */
#site-header {
	position: fixed;
	background-color: #1b1b63;
	height: 62px;
	width: 100%;
}

#site-header h1 {
	font-size: 22px;
	font-style: italic;
	color: #ffffff;
}

#site-header img {
	border: 0;
	vertical-align: middle;
}
#site-header-logo {
	/* position is offset by the header padding amount */
	position: absolute;
	left: 23px;
	top: 5px;
	z-index: 3;
}
#site-header-logo img {
	width: 110px;
	height: 40;
}

/* Left Side Naviagation */
#site-side-left {
	position: fixed;
	top:74px;
	z-index: 2;
	width: 12em;
	left: 1em;
	font-size: 12px;
}
#site-side-nav-label {
	display: none;
}
#site-side-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 1px solid #999999;
	background-color: #cbcbcb;
}
#site-side-nav li {
	margin: 0;
	padding: 0;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #999999;
}
#site-side-nav a {
	margin: 0;
	color: #000000;
	display: block;
	text-decoration: none;
	padding: 4px 6px;
}
#site-side-nav a:hover {
	background-color: #ffffff;
	color: #000000;
}
#site-side-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#site-side-nav ul li {
	border-top: 1px solid #34548e;
	background-color: #34548e;
	/* IE/Win gets upset if there is no bottom border... Go figure. */
	border-bottom: 1px solid #34548e;
}
#site-side-nav ul li:hover {
	border-bottom: 1px solid #34548f;
}
#site-side-nav ul li a {
	padding-left: 12px;
	color: #a7b2c9;
}
#site-side-nav ul li a:hover {
	background-color: #46659e;
}
#site-side-nav ul ul li a {
	padding-left: 18px;
}
#site-side-nav strong a {
	font-weight: normal;
	color: #fff !important;
	background-color: #10203b;
}
#site-side-nav strong a:hover {
	background-color: #172e56 !important;
}

/* content containers */
#fedora-middle-one, #fedora-middle-two, #fedora-middle-three {
	font-size: 0.9em;
	/* position: relative; */ /* relative to utilize z-index */
	width: auto;
	min-width: 120px;
	margin: 10px;
	z-index: 3; /* content can overlap when the browser is narrow */
}
#fedora-middle-two, #fedora-middle-three {
	margin-left: 11em;
	padding-left: 24px;
}
#fedora-middle-three {
	margin-right: 13em;
	padding-right: 24px;
}

#site-content {
	position: fixed;
	top: 74px;
	width: auto;
	height: auto;
	left: 14em;
	right: 14em;
	padding: 24px;
	border: 1px solid #cbcbcb;
	background-color: #ffffff;
	font-size: 12px;	
	z-index: 3;
}
#site-footer {
	font-size: 0.75em;
	text-align: center;
	color: #777;
	margin-bottom: 2em;
	z-index: 0;
    /* 
    position: fixed;
	top: auto;
	height: 68px;
	width: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 10px;
	text-align: center;
	color: #777;
	
	*/
}